@font-face {
    font-family: Europa;
    src: url(../fonts/Europa-Bold/Europa-Bold.ttf);
}

@font-face {
    font-family: Citrus;
    src: url(../fonts/FontsFree-Net-c2537321-918e-4def-a018-cba7bcc0779d.ttf);
}

.first-article {
    display: flex;
    background: #000000;
    position: relative;
}

.welcome-text {
    display: flex !important;
    flex-direction: column !important;
}

.welcome-text .form-mentoria {
    margin-left: 250px;
}

.title{
    font-size: 70px;
    color: white;
    font-family: "Citrus";
    position: static !important; 
    margin-top: 120px;
    margin-left: -20px;
    margin-right: -150px;
    text-align: center !important;
}

.call{
    font-size: 24px;
    color: white;
    font-family: "Europa";
    z-index: 1;
    position: static !important; 
    margin-top: 25px; 
    margin-left: 10px;
    margin-right: -120px;
    text-align: center !important;
    text-transform: uppercase;
}

.description{
    margin-top: 10px;
    color: white;
    font-family: "Europa";
    z-index: 1;
    position: static !important; 
    margin-top: 40px; 
    margin-left: 60px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center !important;
    align-items: center !important;
    justify-content: center !important;
}

b{
    color: #DAA520;
}

body{
    overflow-x: hidden;
}

.welcome-image{
    margin-left: -10px;
}

