@media (max-width: 768px) {
    .first-article {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .title {
        font-size: 50px;
        z-index: 1;
        position: static !important;
        margin-right: -30px;
        margin-left: -30px;
        text-align: center !important;
        margin-top: 50px;
    }

    .description {
        margin-top: 30px !important;
        z-index: 1;
        position: static !important;
        margin-left: 50px;
        margin-right: 50px;
        text-align: center !important;
        align-items: center !important;
        justify-content: center !important;
        font-size: 16px;
    }

    .call{
        position: static !important;
        text-align: center !important;
        align-items: center !important;
        justify-content: center !important;
        font-size: 20px;
        margin-left: -50px;
        margin-right: -50px;
        margin-top: 10px;
    }

    .welcome-text .form-mentoria {
        margin-left: 50%;
        margin-right: 50%;
    }

    .form-mentoria {
        width: 200px !important;
        position: static !important;
        text-align: center !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .welcome-image {
        margin-left: 10px;
        width: 500px;
    }

    button{
        font-size: 16px;
        padding: 10px 10px;
    }
}

@media (max-width: 768px) {
    .second-article {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .benefits-image {
        width: 400px;
        height: auto;
        margin-left: 30px;
        margin-top: 30px;
    }

    .benefits {
        font-size: 30px;
        position: static !important;
        z-index: 1;
        text-align: center !important;
        align-items: center !important;
        justify-content: center !important;
        margin-top: -100px;
        margin-left: -70px;
        margin-right: -70px;
    }

    .benefits-list {
        font-size: 18px;
        position: static !important;
        z-index: 1;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 30px !important;
        text-align: left;
    }

    .benefits-description {
        text-align: center !important;
        align-items: center !important;
        justify-content: center !important;
        font-size: 40px;
        position: static !important;
        margin-left: 10%;
        margin-right:  10%;
    }
    
}

@media (max-width: 768px) {
    .third-article {
        display: flex !important;
        flex-direction: column !important;
        position: relative !important;
        text-align: center !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .tooth-image {
        width: 600px;
        margin-bottom: 400px;
        margin-left: -120px;
        position: static;
    }

    .tooth-text {
        font-size: 16px;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 500px;
    }

    /* .protes-image {
        width: 100%;
        height: auto;
        position: static;
        margin-left: 0;
        margin-top: 30px;
    } */

    .protes-image {
        width: 250px;
        height: 175px;
        margin-left: 110px;
        margin-top: 920px;
        text-align: center !important;
        align-items: center !important;
        justify-content: center !important;
    }

}

@media (max-width: 768px) {
    .footer {
        display: flex;
        flex-direction: column;
    }

    .social-icons {
        margin-top: 10px;
    }

}

html,
body {
    overflow-x: hidden;
}

body {
    background-color: black;
    justify-content: center;
    text-align: center;
    align-items: center;
    overflow-x: hidden;
    position: relative
}