/* Primeiro Article */
@media screen and (max-width: 768px) {
    .first-article {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .form-mentoria {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    .welcome-image {
        width: 100%;
        height: auto;
    }

    .title {
        font-size: 30px;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .description {
        font-size: 16px;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .welcome-text {
        margin-right: 50px;
    }
}

@media screen and (max-width: 768px) {
    .second-article {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .benefits {
        font-size: 20px;
    }

    .benefits-text {
        margin-top: 30px;
    }

    .benefits-list {
        margin-left: 0;
        font-size: 16px;
        justify-content: center;
        text-align: center;
    }

    .benefits-image {
        width: 70%;
        margin-top: 30px;
    }
}

/* Terceiro Article */
@media screen and (max-width: 768px) {
    .third-flex {
        flex-direction: column;
        align-items: center;
    }

    .tooth-text {
        margin-top: 30px;
    }

    .tooth-image {
        width: 100%;
        height: auto;
        margin-top: 30px;
    }

    .protes-image {
        width: 100%;
        height: auto;
        margin-top: 50px;
    }

    .description-tooth{
        font-size: 26px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .social-icons {
        margin-left: 0;
        margin-top: 20px;
    }
}